Q1. List any five functions of the pandas library with execution.

In [9]:
df=pd.DataFrame({"A":[1,2,3,4,5,6,7,8,9],"B":[9,8,7,6,5,4,3,2,1],"C":[5,4,3,2,1,9,8,7,6]})

In [10]:
#1)head()
df.head()

   A  B  C
0  1  9  5
1  2  8  4
2  3  7  3
3  4  6  2
4  5  5  1

In [12]:
#2)tail()
df.tail()

   A  B  C
4  5  5  1
5  6  4  9
6  7  3  8
7  8  2  7
8  9  1  6

In [19]:
#3)loc()
df.loc[4]

A    5
B    5
C    1
Name: 4, dtype: int64

In [21]:
#4)iloc()
df.iloc[6]

A    7
B    3
C    8
Name: 6, dtype: int64

In [22]:
#5)max()
df.max()

A    9
B    9
C    9
dtype: int64

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [1]:
import pandas as pd
def re_index(df):
    new_index=pd.RangeIndex(start=1,step=2,stop=len(df)*2)
    return df.reindex(new_index)
    
df=pd.DataFrame({"A":[1,2,3,4,5,6,7,8,9],"B":[9,8,7,6,5,4,3,2,1],"C":[5,4,3,2,1,9,8,7,6]})
re_index(df)

      A    B    C
1   2.0  8.0  4.0
3   4.0  6.0  2.0
5   6.0  4.0  9.0
7   8.0  2.0  7.0
9   NaN  NaN  NaN
11  NaN  NaN  NaN
13  NaN  NaN  NaN
15  NaN  NaN  NaN
17  NaN  NaN  NaN

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [2]:
def sum_three(df):
    df1=df["Values"][0]+df["Values"][1]+df["Values"][2]
    return df1

df=pd.DataFrame({"Values":[10,20,30,40,50]})
sum_three(df)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [3]:
def create_new_column(df):
    df['Word_count']=df["Text"].str.len()
    return df

df=pd.DataFrame({'Text':['orange','apple','guava','grape']})
create_new_column(df)

     Text  Word_count
0  orange           6
1   apple           5
2   guava           5
3   grape           5

Q5. How are DataFrame.size() and DataFrame.shape() different?

Q6. Which function of pandas do we use to read an excel file?

In [5]:
"""read_excel()"""

'read_excel()'

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [6]:
def extract_username(df):
    df["Username"]=df["Email"].str.split('@').str[0]
    return df

df=pd.DataFrame({"Email":['john.doe@example.com']})
extract_username(df)

                  Email  Username
0  john.doe@example.com  john.doe

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [3]:
import pandas as pd

def Create_new_Dataframe(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    df1=pd.DataFrame(selected_rows)
    return df1


data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)
Create_new_Dataframe(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [4]:
def find_data(df):
    q=df['Values']
         
    l=q.mean()
    x=q.median()
    c=q.std()
    
    print('Mean',"=",l,' ','Median','=',x,'Standard deviation ','=',c)

df=pd.DataFrame({'Values':[1,2,3,4,5]})
find_data(df)

Mean = 3.0   Median = 3.0 Standard deviation  = 1.5811388300841898

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [5]:
import pandas as pd

def add_moving_average(df):
    
    rolling_sales = df['Sales'].rolling(window=7)

    
    moving_average = rolling_sales.mean()

    
    df['MovingAverage'] = moving_average

    return df

df=pd.DataFrame({'Sales':[1,2,3,4,5,6,7,8,9],"date":[1,2,3,4,5,6,7,8,9]})
add_moving_average(df)

   Sales  date  MovingAverage
0      1     1            NaN
1      2     2            NaN
2      3     3            NaN
3      4     4            NaN
4      5     5            NaN
5      6     6            NaN
6      7     7            4.0
7      8     8            5.0
8      9     9            6.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [6]:
import pandas as pd

def week_day(df):
   
    df['Weekday']=df["Date"].dt.day_name()
    return df

date=pd.date_range(start='2023-01-01',end='2023-01-05')
df=pd.DataFrame({"Date":date})
week_day(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [7]:
import pandas as pd

def select_january_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]

def main():
    df = pd.DataFrame({'Date': ['2022-12-31', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-15']})
    print("Original DataFrame:")
    print(df)
    df = select_january_dates(df)
    print("\nDataFrame with January dates only:")
    print(df)

if __name__ == '__main__':
    main()

Original DataFrame:
         Date
0  2022-12-31
1  2023-01-01
2  2023-01-15
3  2023-01-31
4  2023-02-15

DataFrame with January dates only:
        Date
1 2023-01-01
2 2023-01-15
3 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

ans- import pandas as pd