Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
Pandas_Series=pd.Series([4,18,15,16,23,42])

print(Pandas_Series)

0     4
1    18
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd
list_l=['dance','read',1,4,6,4,2,1,2442.23,True]
Series=pd.Series(list_l)
print(Series,type(Series))

0      dance
1       read
2          1
3          4
4          6
5          4
6          2
7          1
8    2442.23
9       True
dtype: object <class 'pandas.core.series.Series'>

Q3. Create a Pandas DataFrame that contains the following data:
 Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [3]:
import pandas as pd 
Data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
Pandas_Dataframe=pd.DataFrame(Data)
Pandas_Dataframe

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [4]:
"""Pandas DataFrame is a Two-Dimensional data structure, Portenstitially heterogeneous tabular data structure with labeled axes rows, and columns. pandas Dataframe is consists of three components principal, data, rows, and columns.
Dataframe Features
Potentially columns are of different types.
Pandas DataFrame size is mutable.
DataFrame labeled axes (rows and columns).
can perform arithmetic operations on rows and columns on DataFrame.
while, Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called indexes. Pandas Series is nothing but a column in an excel sheet. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index."""
#If the Q3 is considered ,the output we got represents the table , the whole data  (both row and colunm )represents dataframe while data from single column(eg,Name,Age ,Gender )represents series

'Pandas DataFrame is a Two-Dimensional data structure, Portenstitially heterogeneous tabular data structure with labeled axes rows, and columns. pandas Dataframe is consists of three components principal, data, rows, and columns.\nDataframe Features\nPotentially columns are of different types.\nPandas DataFrame size is mutable.\nDataFrame labeled axes (rows and columns).\ncan perform arithmetic operations on rows and columns on DataFrame.\nwhile, Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called indexes. Pandas Series is nothing but a column in an excel sheet. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.'

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [5]:
"""1) Get the Mean, Median, and Mode
You can also compute the central tendencies of each column in a DataFrame using pandas.

Here's how to get the mean value of each column:

DataFrame.mean()
For the median or mode value, replace mean() with median() or mode().

2) DataFrame.transform
pandas' DataFrame.transform() modifies the values of a DataFrame. It accepts a function as an argument.

For instance, the code below multiplies each value in a DataFrame by three using Python's lambda function:

DataFrame = DataFrame.transform(lambda y: y*3)
print(DataFrame)

3)DataFrame.isnull
This function returns a Boolean value and flags all rows containing null values as True:

DataFrame.isnull()
The result of the above code can be hard to read for larger datasets. So you can use the isnull().sum() function instead. This returns a summary of all missing values for each column:

DataFrame.isnull().sum()

4)Dataframe.info
The info() function is an essential pandas operation. It returns the summary of non-missing values for each column instead:

DataFrame.info()

5)DataFrame.describe
The describe() function gives you the summary statistic of a DataFrame:

DataFrame.describe()

6)DataFrame.replace
Using the DataFrame.replace() method in pandas, you can replace selected rows with other values.

For example, to swap invalid rows with Nan:

<strong># Ensure that you pip install numpy for this to work</strong> 
import numpy

import pandas
<strong># Adding an inplace keyword and setting it to True makes the changes permanent:</strong> 

DataFrame.replace([invalid_1, invalid_2], numpy.nan, inplace=True)
print(DataFrame)

7)DataFrame.fillna
This function lets you fill empty rows with a particular value. You can fill all Nan rows in a dataset with the mean value, for instance:

DataFrame.fillna(df.mean(), inplace = True)
print(DataFrame)
You can also be column-specific:

DataFrame['column_name'].fillna(df[column_name].mean(), inplace = True)
print(DataFrame)

8) DataFrame.dropna
The dropna() method removes all rows containing null values:

DataFrame.dropna(inplace = True)
print(DataFrame)

9)DataFrame.insert
You can use pandas' insert() function to add a new column to a DataFrame. It accepts three keywords, the column name, a list of its data, and its location, which is a column index.

Here's how that works:

DataFrame.insert(column = 'C', value = [3, 4, 6, 7], loc=0)
print(DataFrame)
The above code inserts the new column at the zero column index (it becomes the first column).

10) DataFrame.loc
You can use loc to find the elements in a particular index. To view all items in the third row, for instance:

DataFrame.loc[2]

11)DataFrame.pop
This function lets you remove a specified column from a pandas DataFrame.

It accepts an item keyword, returns the popped column, and separates it from the rest of the DataFrame:

DataFrame.pop(item= 'column_name')
print(DataFrame)

12)DataFrame.max, min
Getting the maximum and minimum values using pandas is easy:

DataFrame.min()
The above code returns the minimum value for each column. To get the maximum, replace min with max.

13) DataFrame.join
The join() function of pandas lets you merge DataFrames with different column names. You can use the left, right, inner, or outer join. To left-join a DataFrame with two others:

#Left-join longer columns with shorter ones
newDataFrame = df1.join([df_shorter2, df_shorter3], how='left') 
print(newDataFrame)
To join DataFrames with similar column names, you can differentiate them by including a suffix to the left or right. Do this by including the lsuffix or rsuffix keyword:

newDataFrame = df1.join([df2, rsuffix='_', how='outer') 
print(newDataFrame)

14) DataFrame.combine
The combine() function comes in handy for merging two DataFrames containing similar column names based on set criteria. It accepts a function keyword.

For instance, to merge two DataFrames with similar column names based on the maximum values only:

newDataFrame = df.combine(df2, numpy.minimum)
print(newDataFrame)
Note: You can also define a custom selection function and insert numpy.minimum.

15)DataFrame.astype
The astype() function changes the data type of a particular column or DataFrame.

To change all values in a DataFrame to string, for instance:

DataFrame.astype(str)

16) DataFrame.sum
The sum() function in pandas returns the sum of the values in each column:

DataFrame.sum()
You can also find the cumulative sum of all items using cumsum():

DataFrame.cumsum()

17)DataFrame.drop
pandas' drop() function deletes specific rows or columns in a DataFrame. You have to supply the column names or row index and an axis to use it.

To remove specific columns, for example:

df.drop(columns=['colum1', 'column2'], axis=0)
To drop rows on indexes 1, 3, and 4, for instance:

df.drop([1, 3, 4], axis=0)

18)DataFrame.corr
Want to find the correlation between integer or float columns? pandas can help you achieve that using the corr() function:

DataFrame.corr()
The above code returns a new DataFrame containing the correlation sequence between all integer or float columns.

19) DataFrame.add
The add() function lets you add a specific number to each value in DataFrame. It works by iterating through a DataFrame and operating on each item.

RELATED:
How To Use For Loops In Python

To add 20 to each of the values in a specific column containing integers or floats, for instance:

DataFrame['interger_column'].add(20)
20. DataFrame.sub
Like the addition function, you can also subtract a number from each value in a DataFrame or specific column:

DataFrame['interger_column'].sub(10)
21. DataFrame.mul
This is a multiplication version of the addition function of pandas:

DataFrame['interger_column'].mul(20)
22. DataFrame.div
Similarly, you can divide each data point in a column or DataFrame by a specific number:

DataFrame['interger_column'].div(20)
23. DataFrame.std
Using the std() function, pandas also lets you compute the standard deviation for each column in a DataFrame. It works by iterating through each column in a dataset and calculating the standard deviation for each:

DataFrame.std()
24. DataFrame.sort_values
You can also sort values ascendingly or descendingly based on a particular column. To sort a DataFrame in descending order, for example:

newDataFrame = DataFrame.sort_values(by = "colmun_name", descending = True)
25. DataFrame.melt
The melt() function in pandas flips the columns in a DataFrame to individual rows. It's like exposing the anatomy of a DataFrame. So it lets you view the value assigned to each column explicitly.

newDataFrame = DataFrame.melt()
26. DataFrame.count
This function returns the total number of items in each column:

DataFrame.count()
27. DataFrame.query
pandas' query() lets you call items using their index number. To get the items in the third row, for example:

DataFrame.query('4') <strong># Call the query on the fourth index</strong> 

28. DataFrame.where
The where() function is a pandas query that accepts a condition for getting specific values in a column. For instance, to get all ages less than 30 from an Age column:

DataFrame.where(DataFrame['Age'] < 30)
The above code outputs a DataFrame containing all ages less than 30 but assigns Nan to rows that don't meet the condition. ​​​"""

'1) Get the Mean, Median, and Mode\nYou can also compute the central tendencies of each column in a DataFrame using pandas.\n\nHere\'s how to get the mean value of each column:\n\nDataFrame.mean()\nFor the median or mode value, replace mean() with median() or mode().\n\n2) DataFrame.transform\npandas\' DataFrame.transform() modifies the values of a DataFrame. It accepts a function as an argument.\n\nFor instance, the code below multiplies each value in a DataFrame by three using Python\'s lambda function:\n\nDataFrame = DataFrame.transform(lambda y: y*3)\nprint(DataFrame)\n\n3)DataFrame.isnull\nThis function returns a Boolean value and flags all rows containing null values as True:\n\nDataFrame.isnull()\nThe result of the above code can be hard to read for larger datasets. So you can use the isnull().sum() function instead. This returns a summary of all missing values for each column:\n\nDataFrame.isnull().sum()\n\n4)Dataframe.info\nThe info() function is an essential pandas operation. It returns the summary of non-missing values for each column instead:\n\nDataFrame.info()\n\n5)DataFrame.describe\nThe describe() function gives you the summary statistic of a DataFrame:\n\nDataFrame.describe()\n\n6)DataFrame.replace\nUsing the DataFrame.replace() method in pandas, you can replace selected rows with other values.\n\nFor example, to swap invalid rows with Nan:\n\n<strong># Ensure that you pip install numpy for this to work</strong> \nimport numpy\n\nimport pandas\n<strong># Adding an inplace keyword and setting it to True makes the changes permanent:</strong> \n\nDataFrame.replace([invalid_1, invalid_2], numpy.nan, inplace=True)\nprint(DataFrame)\n\n7)DataFrame.fillna\nThis function lets you fill empty rows with a particular value. You can fill all Nan rows in a dataset with the mean value, for instance:\n\nDataFrame.fillna(df.mean(), inplace = True)\nprint(DataFrame)\nYou can also be column-specific:\n\nDataFrame[\'column_name\'].fillna(df[column_name].mean(), inplace = True)\nprint(DataFrame)\n\n8) DataFrame.dropna\nThe dropna() method removes all rows containing null values:\n\nDataFrame.dropna(inplace = True)\nprint(DataFrame)\n\n9)DataFrame.insert\nYou can use pandas\' insert() function to add a new column to a DataFrame. It accepts three keywords, the column name, a list of its data, and its location, which is a column index.\n\nHere\'s how that works:\n\nDataFrame.insert(column = \'C\', value = [3, 4, 6, 7], loc=0)\nprint(DataFrame)\nThe above code inserts the new column at the zero column index (it becomes the first column).\n\n10) DataFrame.loc\nYou can use loc to find the elements in a particular index. To view all items in the third row, for instance:\n\nDataFrame.loc[2]\n\n11)DataFrame.pop\nThis function lets you remove a specified column from a pandas DataFrame.\n\nIt accepts an item keyword, returns the popped column, and separates it from the rest of the DataFrame:\n\nDataFrame.pop(item= \'column_name\')\nprint(DataFrame)\n\n12)DataFrame.max, min\nGetting the maximum and minimum values using pandas is easy:\n\nDataFrame.min()\nThe above code returns the minimum value for each column. To get the maximum, replace min with max.\n\n13) DataFrame.join\nThe join() function of pandas lets you merge DataFrames with different column names. You can use the left, right, inner, or outer join. To left-join a DataFrame with two others:\n\n#Left-join longer columns with shorter ones\nnewDataFrame = df1.join([df_shorter2, df_shorter3], how=\'left\') \nprint(newDataFrame)\nTo join DataFrames with similar column names, you can differentiate them by including a suffix to the left or right. Do this by including the lsuffix or rsuffix keyword:\n\nnewDataFrame = df1.join([df2, rsuffix=\'_\', how=\'outer\') \nprint(newDataFrame)\n\n14) DataFrame.combine\nThe combine() function comes in handy for merging two DataFrames containing similar column names based on set criteria. It accepts a function keyword.\n\nFor instance, to merge two DataFrames with similar column names based on the maximum values only:\n\nnewDataFrame = df.combine(df2, numpy.minimum)\nprint(newDataFrame)\nNote: You can also define a custom selection function and insert numpy.minimum.\n\n15)DataFrame.astype\nThe astype() function changes the data type of a particular column or DataFrame.\n\nTo change all values in a DataFrame to string, for instance:\n\nDataFrame.astype(str)\n\n16) DataFrame.sum\nThe sum() function in pandas returns the sum of the values in each column:\n\nDataFrame.sum()\nYou can also find the cumulative sum of all items using cumsum():\n\nDataFrame.cumsum()\n\n17)DataFrame.drop\npandas\' drop() function deletes specific rows or columns in a DataFrame. You have to supply the column names or row index and an axis to use it.\n\nTo remove specific columns, for example:\n\ndf.drop(columns=[\'colum1\', \'column2\'], axis=0)\nTo drop rows on indexes 1, 3, and 4, for instance:\n\ndf.drop([1, 3, 4], axis=0)\n\n18)DataFrame.corr\nWant to find the correlation between integer or float columns? pandas can help you achieve that using the corr() function:\n\nDataFrame.corr()\nThe above code returns a new DataFrame containing the correlation sequence between all integer or float columns.\n\n19) DataFrame.add\nThe add() function lets you add a specific number to each value in DataFrame. It works by iterating through a DataFrame and operating on each item.\n\nRELATED:\nHow To Use For Loops In Python\n\nTo add 20 to each of the values in a specific column containing integers or floats, for instance:\n\nDataFrame[\'interger_column\'].add(20)\n20. DataFrame.sub\nLike the addition function, you can also subtract a number from each value in a DataFrame or specific column:\n\nDataFrame[\'interger_column\'].sub(10)\n21. DataFrame.mul\nThis is a multiplication version of the addition function of pandas:\n\nDataFrame[\'interger_column\'].mul(20)\n22. DataFrame.div\nSimilarly, you can divide each data point in a column or DataFrame by a specific number:\n\nDataFrame[\'interger_column\'].div(20)\n23. DataFrame.std\nUsing the std() function, pandas also lets you compute the standard deviation for each column in a DataFrame. It works by iterating through each column in a dataset and calculating the standard deviation for each:\n\nDataFrame.std()\n24. DataFrame.sort_values\nYou can also sort values ascendingly or descendingly based on a particular column. To sort a DataFrame in descending order, for example:\n\nnewDataFrame = DataFrame.sort_values(by = "colmun_name", descending = True)\n25. DataFrame.melt\nThe melt() function in pandas flips the columns in a DataFrame to individual rows. It\'s like exposing the anatomy of a DataFrame. So it lets you view the value assigned to each column explicitly.\n\nnewDataFrame = DataFrame.melt()\n26. DataFrame.count\nThis function returns the total number of items in each column:\n\nDataFrame.count()\n27. DataFrame.query\npandas\' query() lets you call items using their index number. To get the items in the third row, for example:\n\nDataFrame.query(\'4\') <strong># Call the query on the fourth index</strong> \n\n28. DataFrame.where\nThe where() function is a pandas query that accepts a condition for getting specific values in a column. For instance, to get all ages less than 30 from an Age column:\n\nDataFrame.where(DataFrame[\'Age\'] < 30)\nThe above code outputs a DataFrame containing all ages less than 30 but assigns Nan to rows that don\'t meet the condition. \u200b\u200b\u200b'

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [7]:
"""Series in Pandas:
Series is a one-dimensional array with homogeneous data.  All the elements of series should be of same data type

Key Features of a Series:
Homogeneous data
Size Immutable –size cannot be changed
Values of Data Mutable"""

'Series in Pandas:\nSeries is a one-dimensional array with homogeneous data.  All the elements of series should be of same data type\n\nKey Features of a Series:\nHomogeneous data\nSize Immutable –size cannot be changed\nValues of Data Mutable'

In [8]:
"""DataFrame in pandas:
DataFrame is a two-dimensional array with heterogeneous data, usually represented in the tabular format. The data is represented in rows and columns.
Key Features of a DataFrame:
Heterogeneous data
Size Mutable
Data Mutable"""

'DataFrame in pandas:\nDataFrame is a two-dimensional array with heterogeneous data, usually represented in the tabular format. The data is represented in rows and columns.\nKey Features of a DataFrame:\nHeterogeneous data\nSize Mutable\nData Mutable'

In [9]:
"""Panel in pandas:
Panel is a three-dimensional data structure with heterogeneous data.

Key Features of a Panel:
Heterogeneous data
Size Mutable
Data Mutable"""

'Panel in pandas:\nPanel is a three-dimensional data structure with heterogeneous data.\n\nKey Features of a Panel:\nHeterogeneous data\nSize Mutable\nData Mutable'

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
import pandas as pd
Series1=pd.Series(['a',1,2,3,4,5,6,7,8,9])
Series2=pd.Series(['b',9,8,7,6,5,4,3,2,1])
Series3=pd.Series(['c',2,4,6,8,9,7,5,3,1])
Dataframe=pd.DataFrame([Series1,Series2,Series3])
Dataframe

   0  1  2  3  4  5  6  7  8  9
0  a  1  2  3  4  5  6  7  8  9
1  b  9  8  7  6  5  4  3  2  1
2  c  2  4  6  8  9  7  5  3  1