Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [6]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [4]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

"""The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc(). Many operations can be performed using the loc() method"""



"""The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc(). """

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [9]:
new_df=df.reindex([3,0,1,2])
print(new_df)
new_df.loc[2]

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

course_name    Big Data
duration              6
Name: 2, dtype: object

In [8]:
(new_df.iloc[2])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

As we can see from the output, there is a difference between the output of new_df.loc[2] and new_df.iloc[2].

new_df.loc[2] selects the row with label 2 from the DataFrame new_df. Since the DataFrame was reindexed, the label 2 corresponds to the row that was originally labeled 3 in df1. Thus, the output displays the values for that row.

On the other hand, new_df.iloc[2] selects the row with index position 2 from the DataFrame new_df. Since the DataFrame was reindexed, the row at index position 2 corresponds to the row that was originally at index position 1 in df1. Thus, the output displays the values for that row.

In [10]:
#Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.097076  0.917503  0.843068  0.332864  0.923775  0.125633
2  0.178602  0.543621  0.656684  0.684444  0.031694  0.288758
3  0.702925  0.572193  0.890868  0.039623  0.447684  0.211645
4  0.366796  0.956660  0.500285  0.975641  0.900311  0.306779
5  0.248264  0.487142  0.130961  0.719115  0.905279  0.448449
6  0.543098  0.844863  0.862917  0.198223  0.704506  0.286980

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [12]:
#(i) mean of each and every column present in the dataframe.
def mean_column(df):
    q=df['column_1'].mean()
    w=df["column_2"].mean()
    e=df['column_3'].mean()
    r=df['column_4'].mean()
    t=df['column_5'].mean()
    y=df['column_6'].mean()
    
    print('column_1','=',q,'	column_2','=',w,'	column_3','=',e,'	column_4','=',r,'	column_5','=',t,'	column_6','=',y)
    
mean_column(df1)

column_1 = 0.3561268622771727 	column_2 = 0.7203303702077982 	column_3 = 0.6474637189386135 	column_4 = 0.49165157240910845 	column_5 = 0.6522080039959085 	column_6 = 0.2780405130478334

In [13]:
#(ii) standard deviation of column, ‘column_2’
df1['column_2'].std()

0.2087032744945037

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [14]:
df1.loc[[2],['column_2']]='string'
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [15]:
#here we are getting error as we are adding up two different data types to find a mean, secondly mathematicle operations such as mean is not possible in case of string

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Pandas Window functions are functions where the input values are taken from a “window” of one or more rows in a series or a table and calculation is performed over them. The word window means the number of rows between the two boundaries by which we perform calculations including the boundary rows.
With the Python Pandas library, almost any type of window operation is possible, however, Pandas only give functions for 4 types of windowing operations. 
1)Rolling window operations-As from the word “Rolling”, which means sliding in a sense, Rolling windows operations means applying some formula to a range of rows by sliding with that fixed number, from the initial value all the way to the final value.Pandas rolling windows function support a window of a fixed number. This means that you need to specify the window size before you apply the rolling operation.
2)Weighted window operations-There might be cases where you prefer value with some weightage, in these cases, the Pandas weighted windows functions are making these operations much easier.

In cases, where the rolling window function fails, you can try the Weighted window function. This is a bit more advanced than using the rolling window function but not complicated.

The weighted window operation in Pandas can be achieved by using the win_type argument in .rolling() function. This function is dependent on SciPy library ( another python library for scientific calculations).
3)Expanding window operations-After the Rolling and weighted window, next in the list are expanding window functions. The Expanding window Operation is the Same as the rolling window except it expands with each iteration. It yields the value of the aggregation statistical function provided.

In simpler words, an Expanding window operation provides the expanding transformation of a window. To better understand, we must look into an example of expanding window function.

The most important thing about Expanding Window Opeariont is, Expanding windows has a fixed lower bound. Only the upper bound of the window is rolled forward (the window gets bigger).
4)Exponentially Weighted window-The Exponentially weighted window function is very much the same as the expanding window function, however, in the Exponentially weighted window, the upcoming point is exponentially weighted down in relation to the current value.

This is a bit more computationally expensive window function, however, can be used in different types of statistical calculations. In pandas, we can use the pd.ewm() function to get the object of the Exponentially Weighted window. We can then call a bunch of methods.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [4]:
import pandas as pd
current_date=pd.datetime.now()
month=current_date.month
year=current_date.year
print('month','=',month,'   year' ,'=',year)

month = 5    year = 2023

/tmp/ipykernel_198/1588929526.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_date=pd.datetime.now()

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [5]:
import pandas as pd
date1=input('start date in in the format YYYY-MM-DD')
date2=input('end date in in the format YYYY-MM-DD')
date1=pd.to_datetime(date1)
date2=pd.to_datetime(date2)
difference=date2-date1
time_difference=pd.Timedelta(difference)
time_difference

start date in in the format YYYY-MM-DD 2023-01-23
end date in in the format YYYY-MM-DD 2024-07-06

Timedelta('530 days 00:00:00')

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [6]:
import pandas as pd 
#open csv  file 
df=pd.read_csv(input('enter file name'))
#enter column and categories it
cat_column=pd.Categorical(df[input('enter column name')])
#count the repeatation of same category data
data_count=cat_column.value_counts()

print(cat_column,data_count)

enter file name services.csv
enter column name application_process

['Walk in or apply by phone.', 'Apply by phone for an appointment.', 'Phone for information (403-4300 Ext. 4322).', 'Apply by phone.', 'Phone for information.', ..., 'Call for screening appointment (650-347-3648).', 'Walk in.', 'By phone during business hours.', 'Walk in or apply by phone or mail', 'Walk in or apply by phone or mail']
Length: 23
Categories (20, object): ['Apply by phone for an appointment.', 'Apply by phone or be referred by a doctor, so..., 'Apply by phone.', 'By phone during business hours.', ..., 'Walk in. Proof of California residency requir..., 'Walk in. Proof of California residency to rec..., 'Walk in. Proof of residency in California req..., 'Walk in. Written application, identification ...] Apply by phone for an appointment.                                                                                                                                                                                                        1
Apply by phone or be referred by a doctor, social worker or other professional. All prospective participants are interviewed individually before starting the program. A recent physical examination is required, including a TB test.    1
Apply by phone.                                                                                                                                                                                                                           2
By phone during business hours.                                                                                                                                                                                                           1
Call for appointment. Referral from human service professional preferred for emergency assistance.                                                                                                                                        1
Call for information.                                                                                                                                                                                                                     1
Call for screening appointment (650-347-3648).                                                                                                                                                                                            1
Call for screening appointment. Medical visits are by appointment only.                                                                                                                                                                   1
Phone for information (403-4300 Ext. 4322).                                                                                                                                                                                               1
Phone for information.                                                                                                                                                                                                                    1
Walk in or apply by phone for membership application.                                                                                                                                                                                     1
Walk in or apply by phone or mail                                                                                                                                                                                                         2
Walk in or apply by phone, email or webpage registration.                                                                                                                                                                                 1
Walk in or apply by phone.                                                                                                                                                                                                                1
Walk in or through other agency referral.                                                                                                                                                                                                 1
Walk in.                                                                                                                                                                                                                                  1
Walk in. Proof of California residency required to receive a library card.                                                                                                                                                                2
Walk in. Proof of California residency to receive a library card.                                                                                                                                                                         1
Walk in. Proof of residency in California required to receive a library card.                                                                                                                                                             1
Walk in. Written application, identification required for emergency assistance.                                                                                                                                                           1
dtype: int64

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# prompt the user to enter the file path
file_path = input("Enter the file path: ")

# read the CSV file
df = pd.read_csv(file_path)

# create a pivot table to group the data by product category and year
pivot = pd.pivot_table(df, values='month_number', index='total_units', columns='total_profit', aggfunc='sum')

# plot the stacked bar chart
pivot.plot(kind='bar', stacked=True)

# set the chart title and axis labels
plt.title('Sales by Product Category')
plt.xlabel('Year')
plt.ylabel('Sales')

# display the chart
plt.show()
#visualization of data into bar chart over period of time

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd
file_path=input('enter the file path')
df=pd.read_csv(file_path)
mean=df['Test_Score'].mean()
median=df['Test_Score'].median()
mode=df['Test_Score'].mode()

table=pd.DataFrame({'Statistic':['Mean','Median','Mode'],'Value':[mean,median,mode]})
table
print('+-----------+--------+')
print('| Statistic | Value  |')
print('+-----------+--------+')
print(f'| Mean      | {mean}  |')
print(f'| Median    | {median}  |')
print(f'| Mode      | {mode}  |')
print('+-----------+--------+')