Q1. Explain with an example each when to use a for loop and a while loop.

In [19]:
#for loop
"""A for loop is a control flow statement that executes code repeatedly for a particular number of iterations. In this control flow statement, the keyword used is for. The for loop is used when the number of iterations is already known."""
#example
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
#While loop: A loop that executes a single statement or a group of statements for the given true condition. The keyword used to represent this loop is "while". A "while" loop is used when the number of iterations is unknown. The statement repeats itself till the boolean value becomes false. In a while loop, the condition is tested at the start, also known as the pre-test loop. 
"""A while loop evaluates the condition
If the condition evaluates to True, the code inside the while loop is executed.
condition is evaluated again.
This process continues until the condition is False.
When condition evaluates to False, the loop stops."""
#example
i=0
while i<10:
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [2]:
#while loop
#sum
count=0
n=1
while n<=10:
    count=count+n
    n=n+1
    print(count)

1
3
6
10
15
21
28
36
45
55

In [7]:
#product
count=1
n=1
while n<=10:
    count=count*n
    n=n+1
    print('product','=',count)

product = 1
product = 2
product = 6
product = 24
product = 120
product = 720
product = 5040
product = 40320
product = 362880
product = 3628800

In [6]:
#for loop
# sum
s=0
for i in range(11):
    s=s+i
print('s','=',s)
#product
product=1
for i in range(1,11):
    product=product*i
print('product','=',product)

s = 55
product = 3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [8]:
unit=int(input('to be entered by user'))
if unit <=100:
    bill=unit*4.5
elif unit <=200:
    bill=100*4.5+(unit-100)*6
elif unit <=300:
    bill=100*4.5 + 100*6 +(unit-200)*10
else:
    bill=100*4.5 + 100*6 +100*10 + (unit-300)*20
print('total electricity bill','=',bill)

to be entered by user 310

total electricity bill = 2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [11]:
#for loop
l=[]
l2=[]
for i in range(1,101):
    l.append(i)
    j=i**3
    if j%4==0 or j%5==0:
        l2.append(j)

l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [12]:
#while loop
l=[]
l1=[]
n=1
while n<=100:
    l.append(n**3)
    if (n**3)%4==0 or (n**3)%5==0:
        l1.append(n**3)
    n=n+1
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [20]:
string = "I want to become a data scientist"
vowel='aAeEoOiIuU'
count=0
for i in string:
    if i in vowel:
        count += 1
print(count)

12